@primary-color: white;
@backgroundColor: #f8f8f7;
@backgroundTagColor: #e0ebff;
@textColorMain: #050038;
@textColorPlaceholder: #cac9d5;
@borderColor: #c3c2cf;
@textColorButton: white;

.placeholder(@color) {
	&:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: @textColorPlaceholder;
	}
	&::-webkit-input-placeholder {
		/* Edge */
		color: @textColorPlaceholder;
	}

	&::placeholder {
		color: @textColorPlaceholder;
	}
}

// @prefix: \.;
#app {
	margin: 2rem;
	font-size: 14px;
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
h1 {
	color: @primary-color;
	// background-color: @bg;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #ccc;
	border-radius: 0.25em;
	padding: 0.25em;
	max-height: 9em;
	overflow-y: auto;
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	input {
		border: none;
		background: transparent;
		padding: 0;
		border-radius: 2em;
		padding-left: 0.5em;
		margin: 0;
		margin: 0.3em;
		line-height: 1.3em;
		.placeholder(@textColorPlaceholder);
		&:focus {
			outline: none;
			background-image: linear-gradient(
				to right,
				lighten(@backgroundTagColor, 4%),
				#fff
			);
		}
	}
}
.tag {
	display: inline-flex;
	align-items: stretch;
	margin: 0.3em;
	line-height: 1.3em;
	color: @textColorMain;
	border-radius: 2em;
	background-color: @backgroundTagColor;
	// when the form is small, but email is long
	max-width: calc(100% - 0.6em);
	.email {
		max-width: 20em; // http://www.raycon.com.au/articles.php?n=k9htyces
		padding: 0.2em;
		padding-left: 0.5em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	button {
		background: transparent;
		border: none;
		padding: 0;
		min-width: 2em;
		font-size: 0.75em;
		margin: 0;
		cursor: pointer;
		border-radius: 0 1em 1em 0;
		// optical center should be shifted
		padding-right: 0.3em;
		box-sizing: content-box;
	}
}
